    <!-- NavBar -->
      <!-- Section 1  -->
      <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 98.65vw;">
          <!-- Indicators -->
          <ol class="carousel-indicators" style="width: 98vw;" >
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
                <a href="" >
              <img src="../../../assets/image/SliderImages/RealUser.jpg" alt="" style="width:100%;height: 80vh;">
              <div class="carousel-caption"  style="color: black;">
                <h1>User Guide</h1>
                <h2>If You Need To See or Buy Any Thing You Need to See That!</h2>
              </div>
            </a>
            </div>
      
            <div class="item">
                <a href="">
                    <img src="../../../assets/image/SliderImages/Vendor.jpg" alt="Chicago" style="width:100%;height: 80vh;">
                    <div class="carousel-caption" style="color: white;">
                        <h1 style="font-size: 3rem;">Vendor Guide</h1>
                        <h2>If You Are Vendor and Need To Post Your Products You Need To See That</h2>
                    </div>
                </a>
            </div>
          
            <div class="item">
                <a href="">
                <img src="../../../assets/image/SliderImages/Marketer.jpg" alt="New York" style="width:100%;height: 80vh; ">
                <div class="carousel-caption" style="color: white;" >
                    <h1>Marketer Guide</h1>
                    <h2>If You Are Marketer And Need To Get Money From Our Site You Need To See That</h2>
                </div>
                </a>
            </div>
        
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- Section 2 -->
      <div  style="background-color: gainsboro;">
        <nav class="navbar ps-5 pe-5" >
            <button class="fs-3 SignInbtn" routerLink="/login">CLICK HERE TO SIGN IN <i class="bi bi-person-lines-fill"></i></button>
            <button class="fs-3 SignUpbtn" routerLink="/usersignup">CLICK HERE TO SIGN UP AS USER <i class="bi bi-person-plus-fill"></i></button>
            <button class="fs-3 SignUpbtn" routerLink="/marketersignup">CLICK HERE TO SIGN UP AS MARKETER <i class="bi bi-person-plus-fill"></i></button>
            <button class="fs-3 market-section1" routerLink="/user/product-list">CLICK HERE TO GO SHOPPING <i class="bi bi-bag-fill"></i></button>
        </nav>
        <!-- <button class="details-section1" routerLink="/user/product-list">For More Details</button> -->
        <div class="cate-container w-100 ">
            <div class="text-center mb-5">
                <h1 style="font-size: 5rem;font-weight: 900;">Clothes</h1>
            </div>
            <div class=" img-and-text" >
                <div class="about-category">
                    <br>
                    <p >There are a lot of clothes here, whether for men, women and children, at great prices with Different colors, go see them right now ...</p>
                    <a href="" class="for-more-products">Go To Products</a>
                </div>
                <div class="images-category">
                    <h1 class="best-seller-in-category p-1 bg-light text-dark">Best Sellers</h1>
                    <img src="../../../assets/image/32163203-concept-of-online-shop.webp"  class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/asmarketer.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/a-25.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                </div>
            </div>
        </div>
        <div class="cate-container2 w-100 ">
            <div class="text-center mb-5">
                <h1  style="font-size: 5rem;font-weight: 900;">Laptops</h1>
            </div>
            <div class="img-and-text">
                <div class="images-category">
                    <h1 class="best-seller-in-category p-2 bg-black text-white">Best Sellers</h1>
                    <img src="../../../assets/image/32163203-concept-of-online-shop.webp" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/asmarketer.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/a-25.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                </div>
                <div class="about-category">
                    <br>
                    <p >There are a lot of Laptops here, whether for playing, working , for great prices with different colors, go see them right now ...</p>
                    <a href="" class="for-more-products1">Go To Products</a>
                </div>
            </div>
        </div>
        <div class="cate-container w-100 ">
            <div class="text-center mb-5">
                <h1  style="font-size: 5rem;font-weight: 900;">Phones</h1>
            </div>
            <div class="img-and-text">
                <div class="about-category">
                    <br>
                    <p>There are a lot of Phones here, whether for Playing, Calls and take Photos, With great prices with Different colors, go see them right now ...</p>
                    <a href="" class="for-more-products">Go To Products</a>
                </div>
                <div class="images-category">
                    <h1 class="best-seller-in-category p-1 bg-light text-dark">Best Sellers</h1>
                    <img src="../../../assets/image/32163203-concept-of-online-shop.webp" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/asmarketer.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                    <img src="../../../assets/image/a-25.png" class="images-in-categorybox" alt="Please Wait , Photo here But Your net speed is low">
                </div>
            </div>
        </div>
        
        <!-- <button class="details-section1" routerLink="/user/product-list"> See More Category</button> -->
        <!-- <button class="details-section1" routerLink="/user/product-list"> See More Product</button> -->
        <!-- Section 3 -->
  <section class="section3">
      <div>
        <img class="we-are" src="../../../assets/image/SliderImages/OnlineShopping.jpg"/>
      </div>
      <div>
            <h1>SHOPPING ONLINE</h1>
            <h2>1. Convenience</h2>
            <p>Convenience is the biggest perk. Where else can you comfortably shop at midnight while in your pajamas? There are no lines to wait in or cashiers to track down to help you with your
                purchases, and you can do your shopping in minutes.</p>
            <h2>2. Better Prices</h2>
            <p>Cheap deals and better prices are available online, because products come to you direct from the manufacturer or seller without involving middlemen. Plus, it's easier to compare prices and find a better deal. Many online sites 
                offer discount coupons and rebates, as well.</p>
            <h2>3. More Variety</h2>
            <p>The choices online are amazing. You can find almost any brand or item you're looking for. You can get in on the latest international trends without spending money on airfare. You can shop from retailers in other parts of the state, country, or even world instead of being limited to your own geography. A far greater selection of colors and 
                sizes than you will find locally are at your disposal.</p>
      </div>
      
  </section>
 
  <!-- Contact us -->
  <section class="section5">
    <div>
        <img src="../../../assets/image/SliderImages/SendEmail.jpg" alt="">
    </div>
    <div class="form">
      <h2 class="quest">Got a question ?</h2>
      <h3>Contact Me By Number : 01556542000 Or Send An Email</h3>
      <br/>
      <form action="" method="post">
        <div>
              <input type="text" name="name" id="name" placeholder="Name">
              <input type="email" name="email" id="email" placeholder="Email">
        </div>
          <input type="text" name="subject" id="subject"placeholder="Subject">
          <textarea name="massage" id="massage" cols="20" rows="5" placeholder="Massage"></textarea>
          <button type="submit">Send</button>
      </form>
    </div>
  </section>
  <footer>
    <img class="footerbg" src="../../../../assets/image/x2.png" alt="">
    <img class="logo" src="../../../../assets/image/x34.png" alt="">
    <p class="fs-3">All rights reserved © Umbrella-Trading 2022 By <span style="text-decoration: underline;font-weight: bold;">Mohamed AbdelKader</span></p>
    </footer>
  
</div>