
<div class="d-flex">
    <div>
        <img src="../../../../assets/image/draw2.webp" >
    </div>
    <div class="mt-5 ms-5" >
        <h1>Hello MR/MS {{name}}</h1>
        <h2>Now! You are as a Marketer</h2><br><br><br>
        <h4>You can market our products, and you can give a code to the user who brings it to us.</h4>
        <h4>You Will earn 5% to every product that you'll sell.</h4>
        
        <br>
        <h3>Steps</h3>

        <ul>

            <li>You can add collection from the button "Add Collection".</li>
            <li>Then you can check your products that you want to market it.</li>
            <li>You will have the code that you can give it to the user.</li>
            <li>Next step we will show all collection that you choosed it.</li>
            <li>when you click to "details" button, you will see the products.</li>
            <li>Also you can remove it.</li>
            <li>You can enter to your profile from the button"Profile".</li>
           
           
            
        </ul>







       
        <h3>Thanks..</h3>
    </div>
   
</div>


<!-- <div id="container">
<h1>Hello MR/MS {{name}}</h1>
<div>
    <img src="../../../../assets/image/draw2.webp" >
</div>
<div>
    <h2>Now! You are as a Marketer</h2>
</div>
</div> -->